@import "./partials/colors";
@import "./partials/variables";
@import "./partials/typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca";
}
.section {
  @include desktop {
    display: block;
    margin: 0 auto;
    padding: 16rem 8rem;
  }
}
.container {
  background-color: $light-gray;
  padding: 4rem 0 4rem 0;
  @include desktop {
    display: flex;
    justify-content: center;
    padding: 6rem 17rem 6rem 17rem;
  }
}
.sedan-card {
  margin: 0 auto;
  width: 290px;
  height: 430px;
  background-color: $Bright-orange;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  @include desktop {
    margin: 0;
  }
  &__image {
    padding: 2rem 2rem;
    animation-name: move-left-right;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 2;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-direction: alternate;
  }
  @keyframes move-left-right {
    0% {
      transform: translateX(10px);
    }
    20% {
      transform: translateX(66px);
    }
    100% {
      transform: translateX(164px);
    }
  }

  &__section {
    padding-left: 2rem;
  }
  &__title {
    color: $Transparent-white;
    font-family: "Big Shoulders Display";
    margin-bottom: 2rem;
  }
  &__bodycopy {
    width: 225px;
    margin-bottom: 4rem;
    font-size: 15px;
    color: $Transparent-white;
    line-height: 1.5rem;
    padding-right: 2rem;
  }
  &__btn {
    padding: 0.5rem 1rem;
    background-color: $light-gray;
    border: 0.15rem solid $Transparent-white;
    border-radius: 25rem;
    color: $Bright-orange;
  }
  &__btn:hover {
    background-color: $Bright-orange;
    cursor: pointer;
    color: $light-gray;
    cursor: pointer;
  }
}
.suv-card {
  margin: 0 auto;
  width: 290px;
  height: 430px;
  background-color: $Dark-cyan;
  @include desktop {
    margin: 0;
  }

  &__image {
    padding: 2rem 2rem;
    padding: 2rem 2rem;
    animation-name: move-left-right;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 2;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-direction: alternate;
  }
  @keyframes move-left-right {
    0% {
      transform: translateX(10px);
    }
    20% {
      transform: translateX(66px);
    }
    100% {
      transform: translateX(164px);
    }
  }

  &__section {
    padding-left: 2rem;
  }
  &__title {
    color: $Transparent-white;
    margin-bottom: 2rem;
    font-family: "Big Shoulders Display";
  }
  &__bodycopy {
    width: 243px;
    margin-bottom: 4rem;
    font-size: 15px;
    color: $Transparent-white;
    line-height: 1.5rem;
    padding-right: 2rem;
  }
  &__btn {
    padding: 0.5rem 1rem;
    background-color: $light-gray;
    border: 0.15rem solid $Transparent-white;
    border-radius: 25rem;
    color: $Dark-cyan;
  }
  &__btn:hover {
    background-color: $Dark-cyan;
    cursor: pointer;
    color: $light-gray;
    cursor: pointer;
  }
}
.luxury-card {
  margin: 0 auto;
  width: 290px;
  height: 430px;
  background-color: $Very-darkcyan;
  border-bottom-right-radius: 5px;

  border-top-right-radius: 5px;
  @include desktop {
    margin: 0;
  }

  &__image {
    padding: 2rem 2rem;

    padding: 2rem 2rem;
    animation-name: move-left-right;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 2;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-direction: alternate;
  }
  @keyframes move-left-right {
    0% {
      transform: translateX(10px);
    }
    20% {
      transform: translateX(66px);
    }
    100% {
      transform: translateX(164px);
    }
  }

  &__section {
    padding-left: 2rem;
  }
  &__title {
    color: $Transparent-white;
    margin-bottom: 2rem;
    font-family: "Big Shoulders Display";
  }
  &__bodycopy {
    width: 242px;
    margin-bottom: 4rem;
    font-size: 15px;
    color: $Transparent-white;
    font-weight: 100;
    line-height: 1.5rem;
    padding-right: 2rem;
  }
  &__btn {
    padding: 0.5rem 1rem;
    background-color: $light-gray;
    border: 0.15rem solid $Transparent-white;
    border-radius: 25rem;
    color: $Very-darkcyan;
  }
  &__btn:hover {
    background-color: $Very-darkcyan;
    color: $light-gray;
    cursor: pointer;
  }
}
.attribution {
  padding-top: 2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
